**/__pycache__/
**/.gitkeep
nni_experiments/*/results/*
!nni_experiments/*/results/.gitkeep
nni_experiments/*.tar.gz
notebook/*
!notebook/*.ipynb
!nni_experiments
!notebook
!src
!scripts
/scripts/ngrok_token
/scripts/ngrok_url.txt
data/*
!data
!data/.gitkeep
build/
dist/
*.egg-info/
trash/*
!trash/.gitkeep
environment.yml